{{!- BEGIN-SNIPPET simple-animated-bind -}}
<div id="now-demo">

    At <div class="time">{{liquid-bind hours}}</div>:
       <div class="time">{{liquid-bind minutes}}</div>:
       <div class="time">{{liquid-bind seconds}}</div>

    my mood is 

    <div class="mood">
      {{#liquid-with mood as mood}}
        <div {{bind-attr class="mood"}}>{{mood}}</div>
      {{/liquid-with}}
    </div>

</div>
{{!- END-SNIPPET -}}
