<div id="now-demo">

    At <div class="time">{{liquid-bind hours}}</div>:
       <div class="time">{{liquid-bind minutes}}</div>:
       <div class="time">{{liquid-bind seconds}}</div>

    my mood is 

    <div class="mood">
      {{!- Using "as" with liquid-with depends on a bugfix in Ember, see https://github.com/emberjs/ember.js/pull/5115 -}}
      {{#liquid-with mood as mood}}
        <div {{bind-attr class="mood"}}>{{mood}}</div>
      {{/liquid-with}}
    </div>

</div>

